In [1]:
!pip install sqlite-database

Collecting sqlite-database
  Downloading sqlite_database-0.7.7-py3-none-any.whl.metadata (4.2 kB)
Downloading sqlite_database-0.7.7-py3-none-any.whl (38 kB)
Installing collected packages: sqlite-database
Successfully installed sqlite-database-0.7.7

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [13]:
import sqlite3
conn = sqlite3.connect('data.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS student_record (
                    Enrollment INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT NOT NULL,
                    Subject TEXT NOT NULL,
                    Mark INTEGER NOT NULL
                )''')

conn.commit()

In [6]:
student_record = [
    (92301733016,'ASHUTOSH KUMAR SINGH','PWP',95),
    (92301733017,'HARSH VISHALBHAI TRIVEDI','PWP',85),
    (92301733027,'VIRAJ PRAKASHBHAI VAGHASIYA','PWP',90),
    (92301733046,'SHIVAM ATULKUMAR BHATT', 'PWP',93),
    (92301733058,'DEVENDRASINH DOLATSINH JADEJA','PWP',75)
]

cursor.executemany('''INSERT INTO student_record (Enrollment, name, subject,Mark) 
                      VALUES (?, ?, ?,?)''', student_record)

conn.commit()

In [7]:
cursor.execute('SELECT * FROM student_record')
rows = cursor.fetchall()

print("All Student Records:")
for row in rows:
    print(row)

All Student Records:
(92301733016, 'ASHUTOSH KUMAR SINGH', 'PWP', 95)
(92301733017, 'HARSH VISHALBHAI TRIVEDI', 'PWP', 85)
(92301733027, 'VIRAJ PRAKASHBHAI VAGHASIYA', 'PWP', 90)
(92301733046, 'SHIVAM ATULKUMAR BHATT', 'PWP', 93)
(92301733058, 'DEVENDRASINH DOLATSINH JADEJA', 'PWP', 75)

In [8]:
cursor.execute('SELECT name, subject, Mark FROM student_record WHERE Mark > 90')
high_marks = cursor.fetchall()

print("\nStudents with Marks greater than 90:")
for student in high_marks:
    print(student)

Students with Marks greater than 90:
('ASHUTOSH KUMAR SINGH', 'PWP', 95)
('SHIVAM ATULKUMAR BHATT', 'PWP', 93)

In [9]:
cursor.execute('''UPDATE student_record SET Mark = 98 
                  WHERE name = 'ASHUTOSH KUMAR SINGH' AND subject = 'PWP' ''')

conn.commit()
cursor.execute('SELECT name, Mark FROM student_record WHERE name = "ASHUTOSH KUMAR SINGH"')
updated_mark = cursor.fetchone()
print(f"\nUpdated Mark for {updated_mark[0]}: {updated_mark[1]}")

Updated Mark for ASHUTOSH KUMAR SINGH: 98

In [10]:
cursor.execute('''DELETE FROM student_record WHERE name = 'DEVENDRASINH DOLATSINH JADEJA' ''')

conn.commit()

cursor.execute('SELECT * FROM student_record WHERE name = "DEVENDRASINH DOLATSINH JADEJA"')
deleted_name = cursor.fetchone()

if deleted_name is None:
    print("\nDEVENDRASINH DOLATSINH JADEJA has been successfully deleted.")

DEVENDRASINH DOLATSINH JADEJA has been successfully deleted.

In [11]:
cursor.execute('''SELECT AVG(Mark) FROM student_record''')
avg_mark = cursor.fetchone()[0]

print(f"\nThe average mark of students is: {avg_mark:.2f}")

The average mark of students is: 91.50

In [12]:
conn.close()

In [15]:
cursor.execute('''CREATE TABLE IF NOT EXISTS student_subjects (
                    Id INTEGER PRIMARY KEY AUTOINCREMENT,
                    student_id INTEGER NOT NULL,
                    name TEXT NOT NULL,
                    Mark INTEGER NOT NULL,
                    FOREIGN KEY (student_id) REFERENCES student_record (Enrollment)
                )''')

In [16]:
student_subjects = [
    ("PWP", 95, 92301733016),
    ("DSA", 80, 92301733016),
    ("OS", 85, 92301733016),
    ("MIS", 90, 92301733016),
]

cursor.executemany('''INSERT INTO student_subjects (name, Mark, student_id) 
                      VALUES (?, ?, ?)''', student_subjects)

conn.commit()

In [17]:
cursor.execute('''SELECT name, Mark FROM student_subjects 
                  WHERE student_id = 92301733016''')
subjects = cursor.fetchall()

for subject in subjects:
    print(f"Subject: {subject[0]}, Mark: {subject[1]}")

Subject: PWP, Mark: 95
Subject: DSA, Mark: 80
Subject: OS, Mark: 85
Subject: MIS, Mark: 90