In [41]:
nums = [1, 2, 3, 4]
result = int("".join(map(str, nums)))
print("Single integer:", result)

Single integer: 1234

In [40]:

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = list(set(list1) & set(list2))
print("Common items:", common)

Common items: [3, 4]

In [39]:
nums = [1, 2, 2, 3, 1, 4, 2]
frequency = {}

for num in nums:
    frequency[num] = frequency.get(num, 0) + 1

print("Frequency of elements:", frequency)

Frequency of elements: {1: 2, 2: 3, 3: 1, 4: 1}

In [38]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print("List without duplicates:", unique_nums)

List without duplicates: [1, 2, 3, 4, 5]

In [37]:
nums = [10, 25, 4, 99, 3]
largest = max(nums)
print("Largest number:", largest)

Largest number: 99

In [36]:
nums = [2, 3, 4]
result = 1
for num in nums:
    result *= num
print("Multiplication result:", result)

Multiplication result: 24

In [35]:
# to flatten a list_of_lists by using list comprehension
list_of_lists = [[1, 2],
                 [3, 4],
                 [5, 6],
                 [7, 8]]
# using list comprehension
my_list = [item for List in list_of_lists for item in List]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
# to find the most frequent element from the list
my_list = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']
most_frequent_value = max(set(my_list), key=my_list.count)
print("The most common element is:", most_frequent_value)

The most common element is: a

In [33]:
# combing lists with the help of zip() function
my_list_1 = [5, 2, 90, 24, 10]
my_list_2 = [6, 3, 91, 25, 12]

# combined
my_combined_list = list(zip(my_list_1, my_list_2))
print(my_combined_list)

[(5, 6), (2, 3), (90, 91), (24, 25), (10, 12)]

In [32]:
my_list_2 = list(dict.fromkeys(my_list_2))
print(my_list_2)

['a', 'b', 'c', 'd', 'e']

In [31]:
# If you have a variable named 'list' in your notebook, delete or rename it before running this cell.
del list  # Remove the variable named 'list' if it exists

my_list_1 = [5, 2, 90, 24, 10, 2, 90, 34]
my_list_2 = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']
# removing duplicates from list 1
my_list_1 = list(dict.fromkeys(my_list_1))
print(my_list_1)

[5, 2, 90, 24, 10, 34]

In [27]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.remove(3)
print(List)

[2.3, 4.445, 5.33, 1.054, 2.5]

In [26]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
del List[0]
print(List)

[4.445, 3, 5.33, 1.054, 2.5]

In [25]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop(0))

2.3

In [24]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop())

2.5

In [23]:
# creating a list
list = [1,2,3,4,5]
#reversing the list
list.reverse()
#printing the list
print(list)

[5, 4, 3, 2, 1]

In [22]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
#Reverse flag is set True
List.sort(reverse=True) 
print(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

In [21]:
List = [2.3,4.445,3,5.33,1.054,2.5]
List.sort()
print(List)

[1.054, 2.3, 2.5, 3, 4.445, 5.33]

In [20]:
numbers = [5, 2, 8, 1, 9]
print(max(numbers))

9

In [19]:
numbers = [5, 2, 8, 1, 9]
print(min(numbers))

1

In [18]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2, 2))

4

In [17]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

1

In [16]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(len(List))

10

In [15]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(1))

List = ['a', 'b', 'c', 'd', 'a']
print(List.count('a'))

4
2

In [11]:
List = ['gfg', 'abc', 3]
print(sum(List))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
List = [1, 2, 3, 4, 5]
print(sum(List))

print(sum(List))

15
15

In [7]:
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]
# Add List2 to List1
List1.extend(List2)
print(List1)

[1, 2, 3, 2, 3, 4, 5]

In [6]:
List = ['Mathematics', 'chemistry', 1997, 2000]
# Insert at index 2 value 10087
List.insert(2, 10087)
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [5]:
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

In [4]:
d = list(range(10,0,-2))
print(d)

[10, 8, 6, 4, 2]

In [3]:
c = list(range(0,10,2))
print(c)

[0, 2, 4, 6, 8]

In [1]:
a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [2]:
b = list(range(5,10))
print(b)

[5, 6, 7, 8, 9]